@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="company-services" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <span class="material-symbols-outlined text-primary">
                            shopping_cart
                        </span>
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-uppercase text-dark">Free delivery</h3>
                        <p>Consectetur adipi elit lorem ipsum dolor sit amet.</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <span class="material-symbols-outlined text-primary">
                            workspace_premium
                        </span>
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-uppercase text-dark">QUALITY GUARANTEE</h3>
                        <p>Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <span class="material-symbols-outlined text-primary">
                            shoppingmode
                        </span>
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-uppercase text-dark">DAILY OFFERS</h3>
                        <p>
                            Amet consectetur adipi elit loreme ipsum dolor sit.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="icon-box d-flex">
                    <div class="icon-box-icon pe-3 pb-3">
                        <span class="material-symbols-outlined text-primary">
                            security
                        </span>
                    </div>
                    <div class="icon-box-content">
                        <h3 class="card-title text-uppercase text-dark">100% SECURE PAYMENT</h3>
                        <p>Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>