<section id="mobile-phones" class="padding-large no-padding-top product-store position-relative">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3 ">
                <h2 class="display-7 text-dark text-uppercase">Mobile Products</h2>
                <div>
                    <a href="#" class="btn btn-medium btn-normal text-uppercase">Go To Shop</a>
                </div>
            </div>
            <div class="swiper product-phone-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/Asset/product-item1.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="cart-consern position-absolute"></div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase">
                                    <a href="#">iphone 10</a>
                                </h3>
                                <span class="item-price text-primary">$980</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/Asset/product-item2.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="cart-consern position-absolute"></div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase">
                                    <a href="#">iphone 10</a>
                                </h3>
                                <span class="item-price text-primary">$980</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/Asset/product-item3.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="cart-consern position-absolute"></div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase">
                                    <a href="#">iphone 10</a>
                                </h3>
                                <span class="item-price text-primary">$980</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/Asset/product-item4.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="cart-consern position-absolute"></div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase">
                                    <a href="#">iphone 10</a>
                                </h3>
                                <span class="item-price text-primary">$980</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/Asset/product-item5.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="cart-consern position-absolute"></div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase">
                                    <a href="#">iphone 10</a>
                                </h3>
                                <span class="item-price text-primary">$980</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section id="smart-watches" class="padding-large product-store position-relative">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3 ">
                <h2 class="display-7 text-dark text-uppercase">Smart Watches</h2>
                <div>
                    <a href="#" class="btn btn-medium btn-normal text-uppercase">Go To Shop</a>
                </div>
            </div>
            <div class="swiper product-watch-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/Asset/product-item1.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="cart-consern position-absolute"></div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase">
                                    <a href="#">iphone 10</a>
                                </h3>
                                <span class="item-price text-primary">$980</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/Asset/product-item2.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="cart-consern position-absolute"></div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase">
                                    <a href="#">iphone 10</a>
                                </h3>
                                <span class="item-price text-primary">$980</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/Asset/product-item3.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="cart-consern position-absolute"></div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase">
                                    <a href="#">iphone 10</a>
                                </h3>
                                <span class="item-price text-primary">$980</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/Asset/product-item4.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="cart-consern position-absolute"></div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase">
                                    <a href="#">iphone 10</a>
                                </h3>
                                <span class="item-price text-primary">$980</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-card position-relative">
                            <div class="image-holder">
                                <img src="~/Asset/product-item5.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="cart-consern position-absolute"></div>
                            <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                <h3 class="card-title text-uppercase">
                                    <a href="#">iphone 10</a>
                                </h3>
                                <span class="item-price text-primary">$980</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>